<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório</title>
    <link rel="stylesheet" href="../public/documento1.css" />
  </head>

  <body>
    <div class="container">
      <div class="cabec">
        Contratante: <br />
        Endereço: <br />
        Complemento: <br />
        Cidade:<br />
        CNPJ<br />
        Contato:<br />
        Fone:<br />
        e-Mail (corporativo): <br />
      </div>
      <div class="cabec1">
        CEP: <br />
        Estado:<br />
        IE:<br />
        CPF:<br />
        Celular:<br />
        e-Mail (alt): <br />
      </div>
    </div>
    <div class="content">
      <table>
        <tr>
          <td>Valores RECURSIVOS/RECORRENTES</td>
        </tr>
        <tr>
          <td>Item</td>
          <td>Descrição</td>
          <td>Valor Un.</td>
          <td>Qtde</td>
          <td>Valor.TT.</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Ramais</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Ligaçôes simultâneas</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Números fixos</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Minutos</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <div class="dualtable">
        <table class="sa">
        
          
           </tr>
           <h8 class="parcela">1o vencto. e parcelamento <br>Demais condições do fechamento</h8>
           <tr>
             <td>Nome da empresa (cliente final):</td>
             <td></td>
           </tr>
           <tr>
             <td>CNPJ (cliente final):</td>
             <td></td>
           </tr>
          
         </table>
         <table class="sa">
        
          <h8 class="aceite">Aceite</h8>
           </tr>
           <tr>
             <td>Consultor:</td>
             <td></td>
           </tr>
           <tr>
             <td>Data:</td>
             <td></td>
           </tr>
           <tr>
            <td>Assinatura</td>
            <td></td>
           </tr>
          
         </table>
      </div>
    </div>
  </body>
</html>
