
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/favicon-16x16.png"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <title>Formulario</title>

    <link rel="stylesheet" href="../public/styles.css" />
  </head>

  <body>
    <div class="content">
      <div class="local">
        <img
          src="../public/Logo-Vubis-Branca.png"
          class="image"
          style="justify-content: center"
        />
      </div>
      <form action="/pdf" method="get" class="formi" id="myForm">
        <input
          type="text"
          name="CNPJ"
          placeholder="Digite CNPJ"
          onblur="checkCnpj(this.value)"
          required
          data-mask="00.000.000/0000-000"
          id="cnpj"
        />
        <input
          type="text"
          name="Nome"
          placeholder="Digite seu nome"
          required
          id="nome"
        />
        <input
          type="datetime"
          name="data"
          placeholder="dia/mês/ano"
          id="data"
          data-mask="00/00/0000"
          hidden
        />
        <input
          type="text"
          name="Adress"
          placeholder="Digite seu logadouro"
          required
          id="logadouro"
        />
        <input
          type="text"
          name="CEP"
          placeholder="Digite seu CEP"
          required
          id="CEP"
        />
        <input
          type="text"
          name="Entreprise"
          placeholder="Digite empresa "
          required
          id="entreprise"
        />
       
        <input
          type="text"
          name="Represent"
          placeholder="Digite o representante  "
          id="representante"
          required
        />
         
        <input
          type="email"
          name="Email"
          placeholder="Digite o email "
          id="representante"
          required
        />
        <input
          
        type="text"
        name="CPF"
        placeholder="Digite o CPF "
        required
        data-mask="000.000.000-00"
        id="CPF"
        onblur="validaCPF(this.value)"
      />

        <button type="submit" name="acao" value="Enviar" class="buttons" >
          Enviar
        </button>
      </form>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    ">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
      integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    

    <script
      type="text/javascript"
      src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"
    ></script>
    <script src="../../public/ValidarCPF.js"></script>
    <script src="../../public/CNPJ.js"></script>
    <!-- <script src="../../public/resetInput.js"></script> -->
  </body>
</html>
